RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

# Don't redirect to trailing slash if a directory exists
DirectorySlash Off

# Rewrite rules for API documentation
RewriteRule ^docs/EasyRdf/(.+)$ docs/api/$1 [R=301,L]

AddType application/rdf+xml .rdf
AddType text/turtle .ttl

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
