<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>EasyRdf - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link href="{{rootUrl}}/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
    <link href="{{rootUrl}}/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
    <link href="{{rootUrl}}/css/prettify.css" type="text/css" rel="stylesheet">
    <link href="{{rootUrl}}/css/easyrdf.css" type="text/css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{rootUrl}}/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{rootUrl}}/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{rootUrl}}/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{rootUrl}}/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{rootUrl}}/favicon.ico">

    {% block head %}{% endblock %}
  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{rootUrl}}/">EasyRdf</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{rootUrl}}/docs">Documentation</a></li>
              <li><a href="{{rootUrl}}/examples">Examples</a></li>
              <li><a href="{{rootUrl}}/converter">Converter</a></li>
              <li><a href="{{rootUrl}}/support">Support</a></li>
              <li><a href="{{rootUrl}}/downloads">Downloads</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="forkme">
      <a href="https://github.com/easyrdf/easyrdf">
        <img src="{{rootUrl}}/img/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
      </a>
    </div>

    <div class="container">{% block content %}{% endblock %}</div>

    <footer class="footer">
      <div class="container">
        <p>Written and maintained by <a href="http://www.aelius.com/njh/">Nicholas Humfrey</a>.</p>
        <p>The library is licensed under the <a href="http://www.opensource.org/licenses/BSD-3-Clause">BSD 3-Clause</a> license and documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>The examples are in the public domain, for more information see <a href="http://unlicense.org/">unlicense.org</a>.</p>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{rootUrl}}/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{{rootUrl}}/js/prettify.js"></script>
    
    {% include 'google-analytics.html' %}

  </body>

</html>
