{% extends "base.html" %}

{% block title 'Converter' %}
{% set section = 'converter' %}

{% block content %}

<h1>Converter</h1>

{% if error %}
<div class="alert alert-block col-9">
  <strong>Error!</strong>
  {{ error }}
</div>
{% endif %}

<div class="container">
  <div class="col-9 well well-large">
    <form method="POST" accept-charset="utf-8" action="{{rootUrl}}/converter">
      <div class="row">
        <label for="data">Input Data:</label>
        {{ text_area_tag('data', '', {rows: '7', class: 'span9'}) }}
      </div>
      <div class="row">
        <label for="uri">or Uri:</label>
        {{ text_field_tag('uri', 'http://njh.me/', {class: 'span9'}) }}
      </div>
      <div class="row">
        <label class="control-label" for="in">Input Format:</label>
        {{ select_tag('in', inputFormats, defaultInputFormat, {class: 'span9'}) }}
      </div>
      <div class="row">
        <label class="control-label" for="out">Output Format:</label>
        {{ select_tag('out', outputFormats, defaultOutputFormat, {class: 'span9'}) }}
      </div>
      <div class="row">
        <label class="checkbox" for="raw">
          Raw output {{ check_box_tag('raw') }}
        </label>
      </div>
      <div class="control-group pull-right">
        <div class="controls">
          {{ reset_tag('Clear', {class: 'btn'}) }}
          {{ submit_tag('Submit', {class: 'btn btn-primary'}) }}
        </div>
      </div>
    </form>
  </div>
</div>

{% if output %}
<div>
  <h2>Output</h2>
  <div class="alert alert-block alert-info">
    Number of triples parsed: {{ count }}
  </div>
  <pre id="result" class="prettyprint"><code>{{ output }}</code></pre>
</div>
{% endif %}

<p>
  This converter is running version <strong>{{ version }}</strong> of EasyRdf.
</p>

{% endblock %}
