{% extends "base.html" %}

{% block title 'Converter' %}
{% set section = 'converter' %}

{% block content %}

<h1>Converter</h1>

{% if error %}
<div class="alert alert-danger col-9" role="alert">
  <strong>Error!</strong>
  {{ error }}
</div>
{% endif %}

<div class="card">
  <form method="POST" accept-charset="utf-8" action="{{rootUrl}}/converter">
    <div class="card-body bg-light">
      <div class="form-group">
        <label for="data">Input Data:</label>
        {{ text_area_tag('data', '', {rows: '7', class: 'form-control'}) }}
      </div>
      <div class="form-group">
        <label for="uri">or URI:</label>
        {{ text_field_tag('uri', 'http://njh.me/', {class: 'form-control'}) }}
        <small class="form-text text-muted">(This URI is also used as the Base URI, when text is put in the input data box)</small>
      </div>
      <div class="form-group">
        <label for="in">Input Format:</label>
        {{ select_tag('in', inputFormats, defaultInputFormat, {class: 'form-control col-sm-8'}) }}
      </div>
      <div class="form-group">
        <label for="out">Output Format:</label>
        {{ select_tag('out', outputFormats, defaultOutputFormat, {class: 'form-control col-sm-8'}) }}
      </div>
      <div class="form-group form-check">
        {{ check_box_tag('raw', 1, false, {class: 'form-check-input'}) }}
        <label class="form-check-label" for="raw">Raw output</label>
      </div>
      <div class="form-group text-right">
        {{ reset_tag('Clear', {class: 'btn'}) }}
        {{ submit_tag('Submit', {class: 'btn btn-primary'}) }}
      </div>
    </div>
  </div>
  </form>
</div>

{% if output %}
<div class="container my-4">
  <h2>Output</h2>
  <div class="alert alert-info">
    Number of triples parsed: {{ count }}
  </div>
  <pre id="result" class="prettyprint p-2"><code>{{ output }}</code></pre>
</div>
{% endif %}

<div class="container my-3">
  <p>
    This converter is running version <strong>{{ version }}</strong> of EasyRdf.
  </p>
</div>

{% endblock %}
