{% extends "base.html" %}

{% block title %}
Documentation - {{ doc.label() }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3 sidenav">
      <ul class="nav nav-pills flex-column">
        {% for doc in docs %}
        <li class="nav-item">
          <a class="nav-link" href="{{ rootUrl~doc.parseUri().getPath() }}"><i class="icon-chevron-right"></i> {{ doc.label() }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="{{ rootUrl~"/docs/api" }}"><i class="icon-chevron-right"></i> API Reference</a>
        </li>
      </ul>
    </div>

    <div class="col-8">
    {{ text|raw }}
    </div>
  
  </div>
</div>

{% endblock %}
