{% extends "base.html" %}

{% block title %}
Documentation
{% endblock %}

{% block content %}

<h1>Documentation</h1>

<ul>
  {% for item in items %}
  <li><a href="{{ rootUrl~'/docs/'~item.name }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h2>API Reference</h2>

<p>
  Visit the <a href="{{ rootUrl }}/docs/api">API reference index</a> or
  click on one of the classes below:
</p>

{% set depth = 0 %}
{% for class in classes %}
  {% if class.depth > depth %}
  <ul>
  {% endif %}
  {% if class.depth < depth %}
  </ul>
  {% endif %}
  <li><a href="{{ rootUrl~class.path }}">{{ class.name }}</a></li>
  {% set depth = class.depth %}
{% endfor %}
</ul>

{% endblock %}
