{% extends "base.html" %}

{% block title 'Downloads' %}
{% set section = 'downloads' %}

{% block content %}

<h1>Downloads</h1>
<p>
  The latest stable version of EasyRdf is version <strong>{{ version }}</strong>.
</p>
<p>
  To read about what has changed in this version please read the <a href="https://github.com/easyrdf/easyrdf/blob/{{ version }}/CHANGELOG.md">ChangeLog file</a></a>.
</p>

<div class="section">
  <h3>Stable Downloads</h3>
  <p>
    An archive containing, the source code, documentation and tests is available below:
  </p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Filename</th>
        <th>File size</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
    {% for download in downloads %}
      <tr>
        <td>
          <a href="{{ download.url }}"><i class="icon-file"></i></a>
          <a href="{{ download.url }}">{{ download.filename }}</a>
        </td>
        <td>{{ download.size }}</td>
        <td>{{ download.releaseDate }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="section">
  <h3>Development Version</h3>
  <p>
    Alternatively the latest development version of EasyRdf can be checked out from
    <a href="http://github.com/">GitHub</a>:
  </p>

  <p style="margin-left: 2em">
    <a href="http://github.com/easyrdf/easyrdf">http://github.com/easyrdf/easyrdf</a>
  </p>

  <p>
    The development version, the master branch in Git, contains the latest bug fixes,
    features and enhancements. The aim is for the master branch to always remain functional,
    with no broken code or tests but that is not guaranteed.
  </p>
</div>

{% endblock %}

