{% extends "base.html" %}

{% block title 'RDF Library for PHP' %}

{% block head %}
    <meta name="author" content="Nicholas Humfrey" />
    <meta name="description" content="A PHP library designed to make it easy to consume and produce RDF." />
{% endblock %}

{% block content %}
<div class="jumbotron">

  <div class="container">
    <div class="row">
      <h1 class="col-md-6">EasyRdf</h1>

      <div class="col-md-6">
        <h2>A PHP library designed to make it easy to <strong>consume</strong> and <strong>produce</strong> RDF.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Designed for use in mixed teams of experienced and inexperienced RDF
           developers. Written in <a href="https://www.php-fig.org/psr/psr-12/">PSR-12</a> compliant PHP
           and tested extensively using <a href="http://www.phpunit.de/">PHPUnit</a>.
        </p>
        <p class="buttonPara">
          <a class="btn btn-primary btn-large" href="{{rootUrl}}/docs/getting-started">Getting Started &raquo;</a>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="container my-3">
  <div class="card bg-light">
    <div class="card-body">
      <p class="card-text text-center">
        The latest stable version of EasyRdf is version <a href="/downloads"><strong>{{ version }}</strong></a>.
      </p>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row">

    <div class="col-md-6">
      <div id="example">
        <h2>Example</h2>
<code><pre class="prettyprint p-2" style="font-size: 90%">
$foaf = new EasyRdf\Graph("http://njh.me/foaf.rdf");
$foaf->load();
$me = $foaf->primaryTopic();
echo "My name is: ".$me->get('foaf:name')."\n";
</pre></code>
      </div>

      <div id="requirements">
        <h2>Requirements</h2>
        <ul>
          <li>PHP 7.1 or newer</li>
          <li>The <a href="http://php.net/manual/en/book.pcre.php">pcre</a> extension (enabled by default)</li>
          <li>The <a href="http://php.net/manual/en/book.mbstring.php">mbstring</a> extension (usually available)</li>
        </ul>
      </div>
    </div>

    <div id="features" class="col-md-6">
      <h2>Features</h2>

      <ul>
        <li>
          Extensive unit tests written using <a href="http://phpunit.de/">PHPUnit</a>
        </li>
        <li>
          Built-in parsers and serialisers: RDF/JSON, N-Triples, RDF/XML, Turtle
        </li>
        <li>
          Optional parsing support for: <a href="http://github.com/semsol/arc2/">ARC2</a> and 
          <a href="http://librdf.org/raptor/rapper.html">rapper</a>
        </li>
        <li>
          Optional support for 
          <a href="https://docs.zendframework.com/zend-http/client/intro/">Zend\Http\Client</a>
        </li>
        <li>
          No required external dependancies upon other libraries (PEAR, Zend, etc...)
        </li>
        <li>
          Complies with the
          <a href="https://www.php-fig.org/psr/psr-12/">PSR-12</a>
          coding style
        </li>
        <li>
          <a href="{{rootUrl }}/docs/api/EasyRdf_TypeMapper.html">Type mapper</a>
          - resources of type <a href="http://xmlns.com/foaf/spec/#term_Person">foaf:Person</a>
          can be mapped into PHP object of class <code>Foaf\Person</code>
        </li>
        <li>
          Support for visualisation of graphs using 
          <a href="http://www.graphviz.org/">GraphViz</a>
        </li>
        <li><a href="http://getcomposer.org/">Composer</a> compatible</li>
        <li>Comes with a number of <a href="{{ rootUrl }}/examples">examples</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
